/* Custom Css Block Editor */


@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
/* Site sizing and alignment  */
.entry-content > * {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.alignwide {
    max-width: 1600px;
}

.alignfull {
    width: 100%;
}

/* end of site sizing and allignment */

/* !Heading Css */
.menu-item {
    list-style: none;
    line-height: 20px;
    padding: 5px;
    margin-left: -10px;
    margin-right: 20px;
    color: black;
    float: left;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    font-family: Arial-black;
    font-style: italic;

}

.menu-item:hover {
    opacity: 0.8;
    transition: .3s;
}
.site-header {
    background-color: #3fa9fa;
    width: 100%;
    height: 150px;
}
.site-branding {
    float: left;
}

.main-navigation {
    float: left;
    list-style: none;
    width: 100%;
    height: 60px;
    margin-top: -10px;
    background-color: #d0d1d1;
    border-bottom: solid 2px black;
}
/** End of menu items and heading  */

/* ! Default Block Stylization */

.wp-block-quote.is-style-default {
    background-color: #3fa9fa;
    width: 100%;
    height: 200px;
    color: black;
    text-align: center;
    font-size: 20px;
    font-family: Arial-black;

}
/* ninjaForm */
.wp-block-quote.is-style-default p  {
    color: white;
    font-size: 40px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;

}

.wp-block-quote.is-style-fancy-quote {
    color: black;
    
}

p {
    color: black;
}

h6 {
    text-shadow: #3fa9fa 1px 1px 10px;
    font-size: 25px;
    font-family: 'Staatliches', italic;
    letter-spacing: 4px; 
}

h2 {
    font-family: Arial-black;
    font-size: 20px;
    font-weight: 400;

}

h3 {
    font-family: 'Calligraffitti', cursive;
    font-weight: 200;
    color: black;

}

h4 {
    color: #3fa9fa;
    font-size: 30px;

}

td {
    font-size: 20px;
    color: black;
    border: solid black 1px;
    text-align: center;
}

button.is-style-outline {
    width: 280px;
    height: 40px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    border: solid 2px #3fa9fa;
    border-radius: 0px;
}


.wp-block-button__link {
    width: 100%;
    height: 40px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    border: solid 2px #3fa9fa;
    border-radius: 0px;
    line-height: 0px;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    letter-spacing: 5px;
    margin: 5px;
}

.wp-block-post-title {
    font-family: 'Lato', sans-serif;
    font-size: 45px;
    letter-spacing: 5px;
    margin: 5px;
    text-align: center;
    margin-bottom: 30px;
    margin-right: auto;
    font-weight: 300;
}
/* * End of Default Code */



.main-page-coloumn {
    box-shadow: black 3px 3px 10px;
    border-radius: 20px;
}
.margin-bottom-adjust {
    margin-bottom: -10px;
}


.site-footer {
    width: 100%;
    background-color: hsla(0, 15%, 95%, 0.229);
    height: 500px;
    border-top: #3fa9fa 3px solid;
}

.tbtcanLink {
    color: black;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

a { 
    text-decoration: none;
    color: black;
}





/* WooCommerce Product Css Design */
.shippingInfo {
    line-height: 30px;
    font-size: 20px;
}

.posted_in {
    width: 100%;
    float: left;
    font-family: 'Calligraffitti', cursive;
    font-size: 20px;
}

.woocommerce-loop-product__title {
    color: black !important;
}

.qty {
    width: 35px;
    height: 30px;
    text-align: center;
    margin-bottom: 10px;
    color: black;
    float: left;
    margin-right: 30px;
}


.woocommerce-Price-amount, .amount {
    color: #3fa9fa;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial-black;
    text-decoration-color: white ;
    text-align: center !important;
    text-decoration: underline #3fa9fa !important;

}

bdi {
    color: #3fa9fa;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial-black;
    text-decoration-color: white ;
    text-align: center !important;
    text-decoration: underline rgba(245, 245, 245, 0) !important;
}

.price {
    color: #3fa9fa;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial-black;
    text-decoration-color: white ;
    text-align: center !important;
    text-decoration: #3fa9fa!important;
}

bdi {
    text-decoration: none;
}

.single-product, .sku, .sku_wrapper {
    width: 100%;
    float: none;
    margin-bottom: 10px !important;
}
 .single_add_to_cart_button, .alt, .button{
    text-align: center;
    font-size: 20px;
    align-self: center;
    border: solid #3fa9fa 1px !important;
    background-color: #dcdcdc !important;
    color: black !important;
    margin: auto !important;
 

}

.space-around-icons-contact {
    margin: 5px;
}

.type-product  {
    border: solid 2px rgba(0, 0, 0, 0.356) ;
    padding: 5px !important;
    margin: 8px !important;
    margin-bottom: 5px !important;
    margin-top: 10px !important;
}

.attachment-woocommerce_thumbnail {
    border-bottom: 2px solid rgba(0, 0, 0, 0.356) !important;
    margin-bottom: -20px;
}

.woocommerce-loop-product__title {
    font-family: Arial-black;
    font-size: 20px !important;
    text-align: left;
}

.entry-title {
    font-size: 45px;
    text-align: left;
    margin: 20px;
    margin-left: 150px;
}

.onsale {
    width: 40px;
    height: 30px;
    color: white;
    border-radius: 25px;
    background-color: #3fa9fa !important;
    font-size: 20px;
}

/* end of product editing */

/* * Cart and checkout css */

#coupon_code {
    width: 500px !important;
    height: 40px;

}

.woocommerce-cart-form__cart-item  {
    height: 10px !important;
}

.woocommerce-cart-form__cart-item img  {
    height: 200%;
    width: 200%;
    margin: 5px;
} 

.product-remove {
    width: 30px;
}

.woocommerce-cart-form__cart-item .product-thumbnail {
    height: 120px !important;
    width: 100px;
    margin: 5px;
    padding: 2px;
}


td {
    border-left:#9a9c9c;
    border-right: #9a9c9c;
    text-align: left !important;
    border-bottom: #9a9c9c;
}


.input-text {
    height: 100% !important;
    border: solid .5px #3fa9fa;
    padding: 5px;
    font-size: 20px;
    color: black;
}
/* end of cart and checkout css */



/* !Footer Blog Stylization */
/* Holding content to size */
.footerBlog {
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
    grid-template-columns: auto;
    width: 100%;
}

.cardTextSection p {
    font-size: 25px;
    margin: 10px;
    background-color: #9a9c9c44;
    padding: 5px;
    text-align: center;
    color: black
}

.blogCardTitle {
    margin: 30px;
    width: 100%;
    font-size: 40px;
    text-align: center;
    color: black;
}

.contentBlogFooterHolder {
    width: 100%;
    float: left;
}
.card {
    width: 31.5%;
    padding: 5px;
    background-color: #d5d6d6;
    margin: 10px;
    float: left;
    
}
.card img {
    width: 100%;
    height: 750px;
}

.blogPostTitle {
    width: 100%;
    text-align: center;
    font-size: 40px;
    margin: 15px;
    color: #ffffff;
}

/* footerSectionStylization */
.footerSect {
    float: left;
    width: 22%;
    padding: 5px;
    height: 100%;
    background-color: #ffffff59;
    line-height: 25px;
}

.footPara {
    width: 80%;
    font-size: 20px;
    line-height: 35px;
}


.footMidTitle {
    text-align: center;
    font-size: 40px;
    font-family: Arial-black;
}
.footMidTitle1 {
    text-align: center;
    font-size: 40px;
    font-family: Arial-black;
    color: #3fa9fa;
    text-shadow: white 5px 5px 10px;

}

.socialIcon {
    list-style: none;
    float:left;
    margin: 10px;
    text-align: left;
    align-content: flex-start;
    min-height: 110px;
}

.footLine {
    height: 3px;
    width: 80%;
    background-color: #3fa9fa;
    margin-left: 10%;
    margin-right: 10%;
}

.socialIcon:hover {
    background-color: white;
    opacity: 0.8;
}

.footerSide1 {
    margin-left: 10%;
}
.footerSide3 {
    margin-right: 10%;
}
.footerSide2 {
    margin-right: 5%;
    margin-left: 5%;
}

/* Footer Stylized */
